

.drag{
  display: flex;
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.nomelaranja{
  display: flex;
  min-height: 35px;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
  padding: 5px;
}
.nomeverde{
  display: flex;
  min-height: 35px;
  justify-content: flex-start;
  align-items: center;
  background-color: green;
  padding: 5px;
}
.nomeamarelo{
  display: flex;
  min-height: 35px;
  justify-content: flex-start;
  align-items: center;
  background-color: yellow;
  padding: 5px;
}


.nome span{
  margin-left: 10px;
}

.conteudo{
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100px;
  background-color: aliceblue;
}

.conteudo .atendimento{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.conteudo span{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: small;
}

.icones{
  font-size: 40px;
}

.bolinha{
  background-color: aqua;
  padding: 5px;
  border-radius: 10px;
}

.titulo{
  display: flex;
  align-items: center;
  background-color: aquamarine;
  height: 35px;
  padding: 10px;
  justify-content: space-around;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

.titulo h4{
  font-size: medium;
  margin: 0;
  padding: 0;
}

.titulo p{
  margin: 0;
  padding: 0;
}

/* modal agendar */

.modals{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  height: 100vh;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.632);
}

.formmodal{
  display:  flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 400px;
}